target/*
ftf-backend/target
ftf-backend/Cargo.lock
ftf-backend/run_watcher.sh
ftf-backend/test_watcher.sh
SurrealDB
ftf-backend/*.csv
backups
start_surreal.sh
ftf-frontend/target
ftf-frontend/Cargo.lock
ftf-frontend/dist
dist
frontend/.env
frontend/Cargo.lock
server/certs/ssc
server/.env
server/Cargo.lock
target-trunk
Cargo.lock
clean.sh
dev.sh
prod.sh
server/events.csv
server/food.csv
server/menus.csv
server/run_watcher.sh
server/test_watcher.sh
server/vendors.csv
server/target/debug
server/target/.rustc_info.json
server/target/CACHEDIR.TAG
.DS_Store
